{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />



<nav class="col-md-2 d-none d-md-block bg-light sidebar mt-2">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'recordsapp' %}">
          <i class="fa-solid fa-users" style="margin-right: 6px;"></i>
          Visitantes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href=""> 
          <i class="fa-solid fa-truck-fast" style="margin-right: 6px;"></i>
          Prestadores de serviço <!--Nome das palavras na aba lateral, alterar no projeto final-->
        </a>
      </li>
    </ul>
    <hr class="my-3">
    <ul class="nav flex-column mb-auto">
      <li class="nav-item">
        <a class="nav-link active" href="">
          <i class="fa-solid fa-gears" style="margin-right: 5px;"></i>
          Configurações <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="">
        <form action="{% url 'logout' %}" method="POST">
          {% csrf_token %}
          <button
            type="submit" 
            class="nav-link active" 
            style="border: none; background: none"           
          >
            <i class="fa-solid fa-arrow-right-from-bracket" style="margin-right: 9px;"></i>
            Sair
          </button>
        </form>
      </li>
    </ul>    
  </div>
</nav>




