{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Fornecedores</a></li>
                </ol>
            </nav>
        </div>
        <div class="col-md-2 mt-1">
            <a href="{% url 'add-fornecedor' %}" class="btn btn-outline-primary">Adicionar registro</a>
        </div>
    </div>

    <div class="container">
        {% include 'partials/_messages.html' %} {% if fornecedores.count %}
        <div class="row">
            <div class="col-md-9">
                {% for group in request.user.groups.all %}
                {% if group.name == 'guarita' %}
                <a href="{% url 'fornecedor_csv' %}" class="mt-1 btn btn-outline-success btn-sm">Excel</a>
                {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" class="form-control" id = "searchField" placeholder = "Procurar">
                </div>
            </div>
        </div>
        <div class = "app-table">
            <table class="table table-stripped table-hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Categoria</th>
                        <th>Empresa</th>
                        <th>Placa</th>
                        <th>Status</th>
                        <th>Requerente</th>
                        <th>Hora</th>
                        <th>Data</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for fornecedores in page_obj %}
                    <tr>
                        <td>{{fornecedores.nome}}</td>
                        <td>{{fornecedores.cpf}}</td>
                        <td>{{fornecedores.categoria}}</td>
                        <td>{{fornecedores.empresa}}</td>
                        <td>{{fornecedores.placa}}</td>
                        <td>{{fornecedores.status}}</td>
                        <td>{{fornecedores.creator.get_full_name}}</td> 
                        <td>{{fornecedores.hora}}</td>
                        <td>{{fornecedores.data | date:"d/m/Y"}}</td>
                        <td>
                            <a 
                            href="{% url 'fornecedor_edit' fornecedores.id %}" 
                            class="btn btn-outline-warning btn-sm mt-2"
                            >Editar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <p class="no-results" style="display: none;">Nenhum resultado encontrado</p>
        <div class = "table-output">
            <table class="table table-stripped table-hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Categoria</th>
                        <th>Empresa</th>
                        <th>Placa</th>
                        <th>Hora</th>
                        <th>Data</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-body">
                </tbody>
            </table>
        </div>

        <div class="pagination-container">
            <div class="">
              Mostrando página {{page_obj.number}} de {{ page_obj.paginator.num_pages }}
            </div>
            <ul class="pagination align-right float-right mr-auto">
              {% if page_obj.has_previous %}
              <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
              <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
              {% endif %}
        
              {% if page_obj.has_next %}
              <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a></li>
              <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
              {% endif %}  
              </ul>
            {% endif %}
          </div>
    </div>
</div>
<script src="{% static 'js/searchFornecedores.js' %}"></script>
{% endblock %}
