{% extends 'base.html' %}
{% block content %}
{% include 'partials/_messages.html' %}
<div class="container">
    <h1>Página Inicial</h1>
    <ul class="list-group">
        <li class="list-group-item">teste</li>
        <li class="list-group-item">teste</li>
        <li class="list-group-item">teste</li>
        <li class="list-group-item">teste</li>
        <li class="list-group-item">teste</li>
        <li class="list-group-item">teste</li>
        <li class="list-group-item">teste</li>
        <li class="list-group-item">teste</li>
    </ul>
</div>


{% endblock %}
